@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@font-face {
    font-family: 'Effra-Bold';
    src: url('/assets/fonts/effra-medium.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Effra-Regular';
    src: url('/assets/fonts/effra-regular.ttf');
    font-weight: normal;
    font-style: normal;
  }